*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ff{
    width: 500px;
    height: 300px;
    margin: 50px auto;
    border  : 2px solid gray;
    position: relative;
    
}
.ttrgt{
    width: 90px;
    height: 90px;
    background-color: blue;
    position: absolute;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    top: 0px ;
    right: 0;
    
}
.lorem1{
    color: aliceblue;
    padding: 20px  ;
}
.lorem2{
    padding-top:15px ;
}